.desktop {
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.9);
}

.desktop .invisible {
	visibility: hidden;
}

.desktop section.content {
	height: 100%;
	width: 60%;
	margin: 0 auto;
}

.desktop .container {
  position: absolute;
  top: 0;
  height: 25%;
	width: 58%;
	display: flex;
	flex-direction: row;
}

.desktop section.content section {
  position: absolute;
  top: 25%;
  height: 67%;
  width: 60%;
  overflow-y: scroll;
}

.desktop .container .vehicle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 10px;
}

.desktop .container .vehicle .dropdown {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: relative;
}

.desktop .container .vehicle .dropdown .ui-selectmenu-text,
.desktop .container .vehicle .dropdown h2 {
	font-size: 8pt;
	font-family: MazdaRegular;
}

.desktop .container .vehicle .dropdown .tipveh .ui-selectmenu-text h2 {
	font-size: 8pt;
	font-family: InterstateLight;
}

header .container .vehicle .tipveh .ui-selectmenu-text,
header .container .vehicle .tipveh h2 {
	font-size: 13px;
	font-family: InterstateLight;
}

.desktop .container .vehicle .dropdown .ui-selectmenu-text:after {
	content: '';
	display: block;
	float: right;
	height: 14px;
	width: 30px;
	background: url(../img/down-arrow.png) no-repeat center bottom;
	background-size: 10px;
}

.desktop .container .vehicle img {
	max-width: 50%;
}

.desktop section .accordion {
	width: 100%;
	padding: 20px;
}

.desktop section .accordion h3.title {
	padding: 26px 0;
	font-size: 11pt;
	/*text-transform: uppercase;*/
	color: #fff;
	font-family: InterstateLight;
	font-weight: 100;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,.6);
	background: url(../img/down-arrow.png) no-repeat;
	background-position: 98% 50%;
	background-size: 12px;
}

.desktop section .accordion h3.title.ui-accordion-header-active {
	border-bottom: 1px solid #ff0000;
	background: url(../img/up-arrow-red.png) no-repeat;
	background-position: 98% 50%;
	background-size: 12px;
	color: #ff0000;
}

.desktop section .accordion .content {
	border-bottom: 1px solid #ff0000;
}

.desktop section .accordion .content .wrap {
	position: relative;
	margin: 40px 0;
	padding: 20px;
	border: 1px solid rgba(255,255,255,.4);
	z-index: 0;
}

.desktop section .accordion .content .wrap img {
	position: absolute;
  top: -33px;
  left: 0;
  right: 0;
  width: 65px;
  margin: 0 auto;
  z-index: -10;
  border: 10px solid #000;
}

.desktop section .accordion .content .wrap h4 {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 10pt;
	font-family: InterstateLight;
	font-weight: 100;
	z-index: 10;
}

.desktop section .accordion .content .wrap .details {
	display: flex;
	flex-direction: row;
}

.desktop section .accordion .content .wrap .details .vehicle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
	padding: 10px 60px;
	text-align: center;
}

.desktop section .accordion .content .wrap .details .vehicle:first-child {
	display: none;
}

.desktop section .accordion .content .wrap .details .vehicle h3 {
	font-size: 12.5pt;
	font-family: InterstateBold;
	color: #2995cc;
}

.desktop section .accordion .content .wrap .details .vehicle p {
	font-size: 12.5pt;
	font-family: InterstateLight;
	font-weight: 100;
	color: #fff;
}