.phone {
	height: 100%;
	width: 100%;
}

.phone section.content {
	height: 100%;
	/*background: url(../img/bg-phone.png) no-repeat;*/
	background-size: 100%;
}

.phone section.content header {
	position: absolute;
	top: 12%;
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(73,6,25,.8);
}

.phone section.content header h1 {
	text-transform: uppercase;
	font-size: 18.3pt;
	font-family: HandelLight;
	font-weight: 100;
	color: #fff;
}

.phone section.content nav {
	position: absolute; 
	bottom: 8%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}

.phone section.content nav .left {
	height: 50px;
	width: 50px;
	background: url(../img/left-arrow.png) no-repeat center center;
	background-size: 15px;
}

.phone section.content nav .right {
	height: 50px;
	width: 50px;
	background: url(../img/right-arrow.png) no-repeat center center;
	background-size: 15px;
}

.phone section.content nav ul {
	display: flex;
	padding: 0;
	list-style: none;
}

.phone section.content nav ul li {
	height: 12px;
	width: 12px;
	margin-right: 10px;
	border-radius: 100%;
	background: rgba(255,255,255,.6);
}

.phone section.content nav ul li.active {
	background: #fff;
}

.phone section.content nav ul li:last-child {
	margin-right: 0; 
}

#iframe-content-phone {
    z-index: 1700;
}

@media only screen and (min-width : 1024px) {
	.phone section.content {
		/*background: url(../img/bg-desktop.png) no-repeat center center;*/
		background-size: 150%;
	}
}