* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: none;
	font-smoothing: antialiased;
	outline: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,body {
	height: 100%;
}

.phone, .desktop {
	height: 100%;
}

.hidden {
	display: none;
}

body {
	position: relative;
	background: url(../img/bg-phone.jpg) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	color: #fff;
}

.desktop .wrapper {
	height: 100%;
}

header {
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
}

header img {
	width: 95px;
}

section {
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 20px;
}

section .title {
	text-align: center;
}

section .title h2 {
	font-size: 15.5pt;
	font-family: InterstateLight;
	font-weight: 100;
	text-transform: uppercase;
}

section .title h1 {
	font-size: 36pt;
	font-family: InterstateBold;
}

section .title p {
	font-size: 9pt;
	font-family: InterstateLight;
	font-weight: 100;
	color: #2995cc;
}

footer {
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 35px;
}

footer a {
	position: relative;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-family: InterstateLight;
	font-weight: 100;
	font-size: 16pt;
}

footer a:after {
	content: '';
	position: absolute;
	right: -18px;
	height: 23px;
	width: 18px;
	background: url(../img/right-arrow.png) no-repeat center right;
	background-size: 10px;
}

@media only screen and (min-width : 375px) {
  
}

@media only screen and (min-width : 414px) {

}

@media only screen and (min-width : 768px) {
	body {
		background-position: center bottom;
	}
	header,section {
		padding-right: 40px;
	}
	footer {
		padding-right: 60px;
	}
}

@media only screen and (min-width : 1024px) {
	body{
		background: url(../img/bg-desktop.jpg) no-repeat;
		background-size: cover;
		background-attachment: fixed;
	}
}

@media only screen and (min-width : 1400px) {

}