.wrapper:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper ul.info-select {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    z-index: 900;
}

.wrapper ul.info-select li {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: url(../img/plus_on.png) no-repeat;
    background-size: 100%;
    list-style: none;
}

.wrapper ul.info-select li.active {
	background: url(../img/plus_off.png) no-repeat;
	background-size: 100%;
}

.wrapper ul.info-select li.close {
	background: url(../img/close.png) no-repeat;
	background-size: 100%;
}

.wrapper ul.info-select li.one {
    top: 222px;
    left: 221px;
}

.wrapper ul.info-select li.two {
    top: 173px;
    left: 463px;
}

.wrapper ul.info-select li.three {
    top: 185px;
    left: 540px;
}

.wrapper ul.info-select li.four {
    top: 171px;
    left: 609px;
}

.wrapper ul.info-select li.five {
    top: 236px;
    left: 720px;
}

.wrapper ul.info-select li.six {
    top: 278px;
    left: 609px;
}

.wrapper ul.info-select li.seven {
    top: 482px;
    left: 599px;
}

.wrapper ul.info-select li.eight {
    top: 425px;
    left: 281px;
}

.wrapper ul.info-select li.nine {
    top: 313px;
    left: 271px;
}

.wrapper ul.info-select li .text {
    position: absolute;
}

.wrapper ul.info-select li .text h3 {
    color: #ff0000;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
}

.wrapper ul.info-select li .text p {
    color: #fff;
    font-size: 20px;
}

.wrapper ul.info-select li.one .text {
    width: 255px;
    top: -140px;
    left: -284px;
}

.wrapper ul.info-select li.one .text h3,
.wrapper ul.info-select li.one .text p,
.wrapper ul.info-select li.two .text h3,
.wrapper ul.info-select li.eight .text h3,
.wrapper ul.info-select li.eight .text p,
.wrapper ul.info-select li.nine .text h3,
.wrapper ul.info-select li.nine .text p {
    text-align: right;
}

.wrapper ul.info-select li.two .text {
    width: 224px;
    top: -169px;
    left: -250px;
}

.wrapper ul.info-select li.three .text {
    width: 420px;
    top: -186px;
    left: 33px;
}

.wrapper ul.info-select li.four .text {
    width: 405px;
    top: -77px;
    left: 110px;
}

.wrapper ul.info-select li.five .text {
    width: 120px;
    top: -42px;
    left: 173px;
}

.wrapper ul.info-select li.six .text {
    width: 176px;
    top: 87px;
    left: 338px;
}

.wrapper ul.info-select li.seven .text {
    width: 340px;
    top: 80px;
    left: 90px;
}

.wrapper ul.info-select li.eight .text {
    width: 185px;
    top: 84px;
    left: -205px;
}

.wrapper ul.info-select li.nine .text {
    width: 130px;
    top: 73px;
    left: -222px;
}

.wrapper ul.info-select li .line.horz,
.wrapper ul.info-select li .line.horz2 {
	position: absolute;
	border-top: 1px dashed #fff;
}

.wrapper ul.info-select li .line.vert {
	position: absolute;
	border-left: 1px dashed #fff;
}

.wrapper ul.info-select li.one .line.horz {
    width: 46px;
    top: -132px;
    left: -25px;
}

.wrapper ul.info-select li.one .line.vert {
    height: 125px;
    top: -131px;
    left: 20px;
}

.wrapper ul.info-select li.two .line.horz {
    width: 40px;
    top: -161px;
    left: -20px;
}

.wrapper ul.info-select li.two .line.vert {
    height: 156px;
    top: -161px;
    left: 19px;
}

.wrapper ul.info-select li.three .line.horz {
    width: 7px;
    top: -174px;
    left: 20px;
}

.wrapper ul.info-select li.three .line.vert {
    height: 166px;
    top: -173px;
    left: 20px;
}

.wrapper ul.info-select li.four .line.horz {
    width: 80px;
    top: -67px;
    left: 20px;
}

.wrapper ul.info-select li.four .line.vert {
    height: 61px;
    top: -65px;
    left: 20px;
}

.wrapper ul.info-select li.five .line.horz {
    width: 140px;
    top: -32px;
    left: 20px;
}

.wrapper ul.info-select li.five .line.vert {
    height: 24px;
    top: -32px;
    left: 19px;
}

.wrapper ul.info-select li.six .line.horz {
    width: 257px;
    top: 96px;
    left: 64px;
}

.wrapper ul.info-select li.six .line.horz2 {
    width: 24px;
    top: 21px;
    left: 41px;
}

.wrapper ul.info-select li.six .line.vert {
    height: 77px;
    top: 20px;
    left: 63px;
}

.wrapper ul.info-select li.seven .line.horz {
    width: 60px;
    left: 20px;
    top: 89px;
}

.wrapper ul.info-select li.seven .line.vert {
    height: 44px;
    top: 46px;
    left: 19px;
}

.wrapper ul.info-select li.eight .line.horz {
    width: 29px;
    top: 93px;
    left: -8px;
}

.wrapper ul.info-select li.eight .line.vert {
    height: 50px;
    left: 20px;
    top: 44px;
}

.wrapper ul.info-select li.nine .line.horz {
    width: 66px;
    left: -71px;
    top: 18px;
}

.wrapper ul.info-select li.nine .line.horz2 {
    width: 15px;
    left: -85px;
    top: 84px;
}

.wrapper ul.info-select li.nine .line.vert {
    height: 65px;
    top: 20px;
    left: -71px;
}