.desktop {
    height: 100%;
    width: 100%;
}

.desktop section.content {
    height: 100%;
    /*  background: url(../img/bg-desktop.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; */
}

.desktop section.content .car-select {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.desktop section.content .car-select a {
    position: absolute;
    right: 20%;
    top: 10%;
    font-family: InterstateBold;
    font-size: 13pt;
    color: #86092c;
    text-decoration: underline;
    text-transform: uppercase;
    z-index: 10;
}

.desktop section.content .car-select .swiper-slide {
    background-size: cover;
    background-position: center;
}

.desktop section.content .car-select .gallery-top-desktop {
    height: 100%;
    width: 100%;
}

.desktop section.content .car-select .gallery-thumbs-desktop {
    bottom: 9%;
    height: 9%;
    background: url(../img/tile.png) repeat;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.desktop section.content .car-select .gallery-thumbs-desktop .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.desktop section.content .car-select .swiper-slide p {
    font-size: 8pt;
    font-family: MazdaRegular;
    color: #fff;
}

.desktop section.content .car-select .gallery-thumbs-desktop .swiper-slide-active {
    opacity: 1;
    border-left: 1px solid #86092c;
    border-right: 1px solid #86092c;
    border-top: 5px solid #86092c;
}

.desktop section.content .car-select .gallery-thumbs-desktop .swiper-slide-active p {
    color: #86092c;
}

.desktop section.content .car-select .right-arrow {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 10%;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=1);
    z-index: 90;
}

.desktop section.content .car-select .right-arrow span {
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/right-arrow.png) no-repeat 85% 50%;
    background-size: 12px;
}

.desktop section.content .car-select .left-arrow {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 10%;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
    z-index: 90;
}

.desktop section.content .car-select .left-arrow span {
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/left-arrow.png) no-repeat 15% 50%;
    background-size: 12px;
}

.desktop section.content .car-select .swiper-button-disabled span {
    opacity: .5;
}

.desktop > hr,
footer {
    z-index: 90;
}

@media only screen and (max-width: 1280px) {}
