body {
    position: relative;
}

.phone {
    height: 100%;
    width: 100%;
}

.phone section.content {
    height: 100%;
    background: #000;
}

.phone section.content header {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 8.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(123, 10, 46, .7);
    z-index: 10;
}

.phone section.content header h1 {
    text-transform: uppercase;
    font-size: 18.3pt;
    font-family: MazdaRegular;
    font-weight: 100;
    color: #fff;
}

.phone section.content .container {
    position: absolute;
    top: 12%;
    height: 88%;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 14%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.phone section.content .container > div {
    position: relative;
}

.phone section.content .container > div:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    z-index: 1;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.67) 33%, rgba(255, 255, 255, 0.83) 66%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.67) 33%, rgba(255, 255, 255, 0.83) 66%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.67) 33%, rgba(255, 255, 255, 0.83) 66%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#000000', GradientType=1);
}

.phone section.content .container > div:last-of-type:after {
    content: '';
    background: transparent;
}

.phone section.content .container > div img {
    display: block;
    max-width: 100%;
}

.phone section.content .container > div.view360 {
    position: relative;
}

.phone section.content .container > div.view360 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background: url(../img/360.png) no-repeat center center;
    background-size: 50px;
}

.phone section.content .container form > p {
    padding: 10px 25px;
    font-family: InterstateLight;
    text-align: center;
}

.phone section.content .container #map-header-phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 15px 10px;
    background: #4d4d4d;
    font-size: 9pt;
    font-weight: normal;
    font-family: InterstateLight;
}

.phone section.content .container form > div.form-container {
    padding: 10px;
}

.phone section.content .container form > div input::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.phone section.content .container form > div input:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.phone section.content .container form > div input::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.phone section.content .container form > div input:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

.phone section.content .container form > div input,
.phone section.content .container form > div select {
    width: 100%;
    height: 28px;
    padding-left: 5px;
    margin: 20px 0;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    border-radius: 0;
    background-color: transparent;
    font-family: InterstateBold;
}

.phone section.content .container form > div select {
    background: url(../img/down-arrow.png) transparent no-repeat 95% 50%;
    background-size: 13px;
}

.phone section.content .container form > div button {
    float: right;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px 30px;
    background: #000;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
}

.phone section.content .container form > div button p {
    position: relative;
}

.phone section.content .container form > div button:active {
    background: #111111;
}

.map-phone {
    height: 300px;
    width: 100%;
}

.phone section.content .container .legal-note {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #4d4d4d;
    font-size: 10pt;
    font-family: InterstateLight;
    color: #2995cc;
    text-align: center;
}

.phone section.content .container .legal-note h4 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.phone section.content .container .legal-note p {
    line-height: 23px;
    font-size: 9pt;
}

.phone .terms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.phone .terms input[type="checkbox"] {
    position: relative;
    width: 30px !important;
    height: 20px !important;
    margin: 0 10px !important;
    background: transparent;
    color: #fff !important;
    border: 1px solid #187ec0 !important;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.phone .terms input[type="checkbox"]:checked:after {
    content: '\2713';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #187ec0;
}

.phone .terms p {
    padding: 12px;
    font-size: 7pt;
    font-family: InterstateLight;
    font-weight: 100;
    color: #187ec0;
}

.phone .terms a {
    color: #187ec0;
}

@media only screen and (min-width: 375px) {
    .phone .terms input[type="checkbox"] {
        width: 45px !important;
        height: 20px !important;
    }
    .phone .terms p {
        font-size: 10pt;
    }
}

@media only screen and (min-width: 414px) {
    .phone .terms p {
        font-size: 10pt;
    }
    .phone .terms input[type="checkbox"]:checked:after {
        width: 11px !important;
        height: 12px !important;
    }
}

@media only screen and (min-width: 768px) {
    .phone .terms input[type="checkbox"] {
        width: 20px !important;
    }
}

@media only screen and (min-width: 1024px) {
    .phone section.content .container {
        left: 0;
        right: 0;
        width: 70%;
        margin: 0 auto;
        padding-top: 7%;
        padding-bottom: 9%;
    }
}
