@font-face {
  font-family: InterstateBold;
  src: url(../fonts/Interstate-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: InterstateLight;
  src: url(../fonts/Interstate-Light.ttf);
  font-weight: 100 !important;
}

@font-face {
  font-family: MazdaBold;
  src: url(../fonts/Mazda-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: MazdaRegular;
  src: url(../fonts/Mazda-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: HandelLight;
  src: url(../fonts/HandelGotDLig.ttf);
  font-weight: 100 !important;
}